---
apiVersion: v1
kind: Service
metadata:
  name: vaultwarden 
  labels:
    app: vaultwarden 
  namespace: vaultwarden 
spec:
  ports:
  - port: 80 
    name: vaultwarden-http 
    targetPort: 80 
  type: ClusterIP 
  selector:
    app: vaultwarden 
